:root {
    --base-font-size: 48px;
}

body {
    font-size: var(--base-font-size);
}

body {
    background-color: #FBDE00;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.score-counter {
    display: flex;
    width: 60vw;
    align-items: center;
    justify-content: space-around;
}

h1 {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

h3 {
    margin-top: 0;
}

.output-result {
    height: 30vh;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 0;
}

.output-result p {
    margin: 0;
    padding: 0;
    text-align: center;
}

.button-holder {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
}

.button-holder button {
    background-color: black;
    font-weight: bold;
    border-radius: 20px;
    color: #FBDE00;
    padding: 20px 40px;
    width: 90vw;
    max-width: 320px;
    font-size: 48px;
}

.score-counter h3 {
    padding: 0;
    margin: 0;
}

.player-label, .computer-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}